$navbar-background-color: transparent

@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kalidi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333

$er-green: #78c089

// .navbar .navbar-menu
  // box-shadow:none !important
*
  box-sizing: border-box !important

body
  background: #e6f6ea
  min-height: 100vh

.page-wrapper
  max-width: 1024px
  margin: 0 auto
  box-shadow: 5px 5px 15px rgba(0,0,0,.2), -5px -5px 15px rgba(0,0,0,.2)
  background: white

.section.main-section
  padding-top: 0

.header
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  padding: 20px
  div
    width: 200px
    &:nth-child(1)
      text-align: left
    &:nth-child(3)
      text-align: right
  p
    font-family: 'Dancing Script'
    font-size: 1.5em
    color: 	$er-green
    margin-bottom: 8px
  button
    color: #777777
    text-transform: uppercase
    font-size: .8em
    letter-spacing: 1.8px
  svg
    color: 	darken($er-green, 10%)

.header-separator
  display: flex
  justify-content: space-between

  span
    display: inline-block
    width: 100%
    border-top: solid rgba(0,0,0,.1px) 1px
    position: relative
    top: 20px
    margin: 0 20px

  p
    font-family: 'Dancing Script'
    font-size: 1.5em
    color: 	$er-green
    white-space: nowrap

.navbar-item
  svg
    position: relative
    top: 1px
    margin-right: 8px;
    color: darken($er-green, 10%)

@media (min-width: 1088px)
  .container
    width: 100% !important
    max-width: 100% !important

  .navbar
    width: 100%

    .navbar-brand, .navbar-menu
      margin: 0 !important

    .navbar-start
      width: 100%
      margin: 20px 0
      > .navbar-item
        border: solid rgba(0,0,0,.1) 1px
        border-left: none
        padding: 5px
        flex-grow: 1
        justify-content: center
        color: #777777
        text-transform: uppercase
        font-size: .8em
        letter-spacing: 2px
        &.is-active
          background-color: $er-green !important
          color: #ffffff
        &:hover
          background-color: $er-green !important
          color: #ffffff
          transition: all 100ms linear
          > .navbar-link
            background-color: transparent !important
            color: #ffffff
        &:nth-child(1)
          border-left: solid rgba(0,0,0,.1) 1px
        .navbar-link
          color: #777777
        .navbar-dropdown
          .navbar-item
            font-size: .8em
            color: #777777

.main-hero
  min-height: auto
  background-size: cover
  background-repeat: no-repeat
  background-position-y: center

  .field.has-addons.main-cta
    justify-content: center
    .control
      box-shadow: 5px 5px 15px rgba(0,0,0,.2)
    input
      font-family: 'Dancing Script'
    .button
      color: #777777;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: 1.8px;
      height: 36px
      .cta-label
        display: inline-block
        margin-left: 5px

.section-header
  font-family: 'Dancing Script'
  font-size: 2em
  margin: 20px

.card
  .card-image-wrapper
    width: 100%
    height: 175px
    background-size: cover
    background-position-y: center
  .card-footer
    display: flex
    justify-content: space-evenly
    align-content: center
    margin-bottom: -10px
    > div
      color: #777777
      font-size: .8em
      display: flex
      flex-direction: column
      align-items: center
      margin-top: 4px
      svg, span
        display: block
        padding: 2px
      svg
        width: 20px
        height: 20px

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: calc(100vh - 3.25rem)
  position: relative
  left: 50%
  right: 50%
  margin: 0 -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.hero-body
  h1, h2
    color: #ffffff

@import "~bulma"
